[submodule "rmk"]
	path = rmk
	url = git@github.com:legokichi/rmk.git
	branch = iqs5xx-input-device
[submodule "zmk-keyboard-iqs5xx-dev"]
	path = zmk-keyboard-iqs5xx-dev
	url = git@github.com:legokichi/zmk-keyboard-iqs5xx-dev.git
[submodule "zmk-driver-azoteq-iqs5xx"]
	path = zmk-driver-azoteq-iqs5xx
	url = git@github.com:legokichi/zmk-driver-azoteq-iqs5xx.git
[submodule "iqs5xx"]
	path = iqs5xx
	url = git@github.com:legokichi/iqs5xx.git
