[keyboard]
name = "rmk-pico2w-ferris-sweep"
product_name = "rmk-pico2w-ferris-sweep"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "RMK"
board = "pi_pico_2_w"

[host]
#一時的に無効化
#vial_enabled = false

[storage]
#vialとsplitには必要
enabled = true
# Set `clear_storage` to true to clear all the stored info when the keyboard boots
clear_storage = true

[layout]
rows = 1
cols = 2
layers = 1
# https://rmk.rs/main/docs/configuration/keymap_configuration/keycodes.html
matrix_map = """
(0,0,L) (0,1,R)
"""

[[layer]]
name = "base_layer"
# ここどうすりゃええねん
keys = """
A B
"""

[ble]
enabled = true

[split]
connection = "ble"

[split.central]
rows = 1
cols = 1
row_offset = 0
col_offset = 0
ble_addr = [0x18, 0xe2, 0x21, 0x80, 0xc0, 0xc7]

[split.central.matrix]
matrix_type = "direct_pin"
direct_pin_low_active = true
direct_pins = [
    ["PIN_6"],
]

[[split.central.input_device.iqs5xx]]
name = "trackpad"
rdy = "PIN_3"
rst = "PIN_2"
poll_interval_ms = 5

[split.central.input_device.iqs5xx.i2c]
instance = "I2C0"
sda = "PIN_0"
scl = "PIN_1"
address = 0x74
frequency = 400000

[[split.peripheral]]
rows = 1
cols = 1
row_offset = 0
col_offset = 0
ble_addr = [0x7e, 0xfe, 0x73, 0x9e, 0x66, 0xe3]

[split.peripheral.matrix]
matrix_type = "direct_pin"
direct_pin_low_active = true
direct_pins = [
    ["PIN_6"],
]

[rmk]
split_peripherals_num = 1
