[keyboard]
name = "rmk-pico2w-ferris-sweep"
product_name = "rmk-pico2w-ferris-sweep"
vendor_id = 0x4c4b
product_id = 0x4643
manufacturer = "RMK"
board = "pi_pico_w"
serial_number = "vial:f64c2b3c:000001"

[host]
#一時的に無効化
#vial_enabled = false

[storage]
#vialとsplitには必要
enabled = true
# Set `clear_storage` to true to clear all the stored info when the keyboard boots
clear_storage = true

[layout]
rows = 8
cols = 5
layers = 3
# https://rmk.rs/main/docs/configuration/keymap_configuration/keycodes.html
matrix_map = """
(0,0,L) (0,1,L) (0,2,L) (0,3,L) (0,4,L)    (4,0,R) (4,1,R) (4,2,R) (4,3,R) (4,4,R)
(1,0,L) (1,1,L) (1,2,L) (1,3,L) (1,4,L)    (5,0,R) (5,1,R) (5,2,R) (5,3,R) (5,4,R)
(2,0,L) (2,1,L) (2,2,L) (2,3,L) (2,4,L)    (6,0,R) (6,1,R) (6,2,R) (6,3,R) (6,4,R)
                          (3,3,L) (3,4,L)    (7,0,R) (7,1,R)
"""

[[layer]]
name = "base_layer"
keys = """
Q W E R T    Y U I O P
A S D F G    H J K L Semicolon
Z X C V B    N M Comma Dot Slash
        Kc3 TO(1)  TO(2) Kc2
"""

[[layer]]
name = "layer2"
keys = """
_ _ _ _ _    _ _ _ _ _
_ _ _ _ _    _ _ _ _ _
_ _ _ _ _    _ _ _ _ _
        _ TO(2)  TO(base_layer) _
"""

[[layer]]
name = "layer3"
keys = """
_ _ _ _ _    _ _ _ _ _
_ _ _ _ _    _ _ _ _ _
_ _ _ _ _    _ _ _ _ _
        _ TO(base_layer)  TO(1) _
"""

[ble]
enabled = true

[split]
connection = "ble"

[split.central]
rows = 4
cols = 5
row_offset = 0
col_offset = 0
ble_addr = [0x18, 0xe2, 0x21, 0x80, 0xc0, 0xc7]

[split.central.matrix]
matrix_type = "direct_pin"
direct_pin_low_active = true
direct_pins = [
    ["PIN_3", "PIN_12", "PIN_11", "PIN_10", "PIN_2"],
    ["PIN_13", "PIN_4", "PIN_14", "PIN_15", "PIN_27"],
    ["PIN_5", "PIN_21", "PIN_20", "PIN_19", "PIN_18"],
    ["_", "_", "_", "PIN_16", "PIN_17"],
]

# NOTE: The trackpad uses PIN_2/PIN_3 which are now assigned to keys.
# If you want to enable the trackpad, move rdy/rst to free pins.
#[[split.central.input_device.iqs5xx]]
#name = "trackpad"
#rdy = "PIN_3"
#rst = "PIN_2"
#poll_interval_ms = 5

#[split.central.input_device.iqs5xx.i2c]
#instance = "I2C0"
#sda = "PIN_0"
#scl = "PIN_1"
#address = 0x74
#frequency = 400000

[[split.peripheral]]
rows = 4
cols = 5
row_offset = 4
col_offset = 0
ble_addr = [0x7e, 0xfe, 0x73, 0x9e, 0x66, 0xe3]

[split.peripheral.matrix]
matrix_type = "direct_pin"
direct_pin_low_active = true
direct_pins = [
    ["PIN_6", "PIN_10", "PIN_11", "PIN_12", "PIN_7"],
    ["PIN_27", "PIN_15", "PIN_14", "PIN_8", "PIN_13"],
    ["PIN_18", "PIN_19", "PIN_20", "PIN_21", "PIN_9"],
    ["PIN_17", "PIN_16", "_", "_", "_"],
]

[rmk]
split_peripherals_num = 1
